doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/unsupported-browser.css")
        title Unsupported Browser
          

    body 
        h1 Your browser is too old
        p View #[a(href="https://danielpear.com") danielpear.com] on a modern browser
            ul
                li Chrome 106+
                li Safari 16+
                li Edge 106+
                li Firefox 110+
                li Opera 95+

        p For geeks: I use new CSS features like Container Queries and Cascade Layers on my site. I like to push the limits as soon as possible on major browsers.



