@font-face {
    font-family: 'Overpass';
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/fonts/overpass.woff2") format("woff2");
  }

  
  @font-face {
    font-family: 'Marvin Vision';
    src: url("/fonts/marvin-visions.woff2") format("woff2");
    font-weight: 20 170;
  }
  

html {
    font-size: 16pt;
    font-family: "Overpass", system-ui, sans-serif;
    background-color: #161618;
    color: rgba(255, 255, 255, 0.8);
}

body {
    margin: 0;
}

body > * {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Marvin Vision', system-ui, sans-serif;
    color: #efcfb3;
    margin-top: 3em;
    margin-top: 10vh;
    font-size: 3rem;
}

a {
    color: #e06900;
}