:root {
  --container-size: 80ch;
  --section-gap: clamp(4rem, 8vw, 8rem);
  --section-gap-h: calc(var(--section-gap) / 2);
  --section-gap-progressive: clamp(1rem, 8vw, 4rem);
  scroll-padding-top: 2rem;
}
body {
  margin: 0;
}
main {
  --_container-size: var(--container-size);
  --container-gutter: 2rem;
  display: grid;
  padding-block-end: var(--section-gap);
  row-gap: var(--section-gap);
  inline-size: 100%;
  grid-template-columns: var(--edge) [div-start content-start] minmax(0, var(--_container-size)) [content-end div-end] var(--edge);
}
@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: var(--edge) [div-start] 1fr [content-start] minmax(0, var(--_container-size)) [content-end] 1fr [div-end] var(--edge);
  }
}
main > * {
  grid-column: content-start / content-end;
}
main > header {
  grid-column: div-start / div-end;
}
articles {
  display: grid;
  align-items: first baseline;
  grid-auto-flow: dense;
}
articles > * {
  margin: 0;
}
articles h3 {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-l);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: var(--articles-list-heading-weight);
}
articles .no-articles {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: var(--articles-list-heading-weight);
  margin: 0;
}
articles .no-articles,
articles .no-articles + p {
  color: var(--text-disabled-color);
}
year-group {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-flow: dense;
  column-gap: 2rem;
}
year-group h2 {
  grid-column-end: -1;
  font-weight: 50;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  color: var(--secondary--80);
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xxl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  line-height: 0.8;
  margin: 0;
  z-index: 1;
  inline-size: fit-content;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  box-shadow: 0 0 0 3px var(--site-bg);
}
year-group ul {
  grid-column-start: 1;
  margin-block: 0;
}
year-group:not(:last-of-type) {
  padding-block-end: var(--section-gap);
}
ul {
  --list-marker: none;
}
li a {
  --heading-weight: var(--articles-list-heading-weight);
  --link-color: var(--primary--30);
}
li + li {
  margin-block-start: 2rem;
}
h1 {
  text-align: center;
}
h3 {
  margin: 0;
  margin-block-end: 0.5rem;
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
  display: block;
}
article {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
article h3 {
  margin-block: 0;
}
@media only screen and (min-width: 720px) {
  article {
    display: grid;
    grid-template-columns: 10ch 1fr;
  }
  article > * {
    display: inline;
  }
}
@media (pointer: fine) {
  article a {
    text-decoration-line: none;
  }
}
date {
  inline-size: fit-content;
  color: var(--primary);
  white-space: nowrap;
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
}
.subscribe-link {
  --link-color: var(--primary);
  inline-size: fit-content;
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-base);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
}

/*# sourceMappingURL=blog.css.map */
