:root {
  --container-size: 100ch;
  --section-gap: clamp(4rem, 8vw, 8rem);
  --section-gap-h: calc(var(--section-gap) / 2);
  --section-gap-progressive: clamp(1rem, 8vw, 4rem);
  scroll-padding-top: 2rem;
  --section-divider-color: var(--divider);
}
body {
  margin: 0;
}
main {
  --_container-size: var(--container-size);
  --container-gutter: 2rem;
  display: grid;
  padding-block-end: var(--section-gap);
  row-gap: var(--section-gap);
  inline-size: 100%;
  grid-template-columns: var(--edge) [div-start content-start] minmax(0, var(--_container-size)) [content-end div-end] var(--edge);
}
@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: var(--edge) [div-start] 1fr [content-start] minmax(0, var(--_container-size)) [content-end] 1fr [div-end] var(--edge);
  }
}
main > * {
  grid-column: content-start / content-end;
}
main > header {
  grid-column: div-start / div-end;
}
articles {
  display: grid;
  align-items: first baseline;
  grid-auto-flow: dense;
  container: articles / inline-size;
}
articles > * {
  margin: 0;
}
articles h3 {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: var(--articles-list-heading-weight);
}
articles .no-articles {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: var(--articles-list-heading-weight);
  margin: 0;
}
articles .no-articles,
articles .no-articles + p {
  color: var(--text-disabled-color);
}
year-group {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-flow: dense;
  column-gap: var(--section-gap-h);
}
year-group h2 {
  grid-column-end: -1;
  font-weight: 50;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xxl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: 60;
  line-height: 0.8;
  margin: 0;
  z-index: 1;
  height: fit-content;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
year-group ul {
  grid-column-start: 1;
  margin-block: 0;
}
year-group:not(:last-of-type) {
  padding-block-end: var(--section-gap);
}
@container articles (inline-size > 100ch) {
  year-group {
    grid-template-columns: 1fr 1fr;
  }
  year-group h2 {
    writing-mode: initial;
    text-orientation: initial;
    padding-top: var(--section-gap-h);
    border-top: var(--border-width) solid var(--section-divider-color);
    text-align: end;
  }
}
ul {
  --list-marker: none;
}
li a {
  --heading-weight: var(--articles-list-heading-weight);
}
ul li {
  padding-block: var(--section-gap-h);
}
ul li:nth-of-type(1) {
  border-block: var(--border-width) solid var(--section-divider-color);
}
ul li:nth-of-type(1) a {
  --link-color: var(--primary--40);
}
ul li:nth-of-type(2) a {
  --link-color: var(--primary--30);
}
ul li:nth-of-type(3) a {
  --link-color: var(--primary--20);
}
li + li {
  border-block-end: var(--border-width) solid var(--section-divider-color);
}
h1 {
  text-align: center;
}
h3 {
  margin: 0;
  margin-block-end: 0.5rem;
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
  display: block;
}
article {
  display: grid;
  align-items: first baseline;
  gap: 0.25em;
}
article h3 {
  margin-block: 0;
}
@media (pointer: fine) {
  article a {
    text-decoration-line: none;
  }
}
@container articles (inline-size > 100ch) {
  article {
    display: grid;
    grid-template-columns: 6ch 1fr;
  }
  article > * {
    display: inline;
  }
}
entry-number {
  inline-size: fit-content;
  color: var(--section-divider-color);
  white-space: nowrap;
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
}
.subscribe-link {
  --link-color: var(--primary);
  inline-size: fit-content;
}

/*# sourceMappingURL=blog.css.map */
