:root {
  --container-size: 1600px;
  --section-gap: clamp(4rem, 12vw, 15rem);
  --section-gap-h: calc(var(--section-gap) / 2);
  --section-gap-progressive: clamp(1rem, 8vw, 4rem);
  scroll-padding-top: 2rem;
  --section-divider-color: var(--text-secondary-color);
}
body {
  margin: 0;
}
:is(main, footer) {
  --_container-size: var(--container-size);
  --container-gutter: 2rem;
  display: grid;
  padding-block-end: var(--section-gap);
  row-gap: var(--section-gap-h);
  inline-size: 100%;
  grid-template-columns: var(--edge) [div-start content-start] minmax(0, var(--_container-size)) [content-end div-end] var(--edge);
}
@media only screen and (min-width: 900px) {
  :is(main, footer) {
    grid-template-columns: var(--edge) [div-start content-start] 1fr [content-end div-end] var(--edge);
  }
}
:is(main, footer) > * {
  grid-column: content-start / content-end;
}
:is(main, footer) > header {
  grid-column: div-start / div-end;
}
:is(p, ul) {
  line-height: var(--line-height-text);
}
main {
  position: relative;
  z-index: 0;
  container: content / inline-size;
}
section:first-of-type {
  grid-column: div-start / div-end;
  display: grid;
  align-items: end;
  margin-block-start: calc(var(--section-gap-h) * -1);
  margin-block-end: var(--section-gap);
  scroll-snap-align: start;
  min-block-size: calc(90vh - var(--header-height) - var(--section-gap));
  block-size: fit-content;
}
section > * + * {
  margin-block-start: var(--section-gap-h);
}
@container content (inline-size >= 720px) {
  section:first-of-type {
    min-block-size: calc(100vh - var(--header-height) - var(--section-gap));
  }
  section > * + * {
    margin-block-start: 0;
  }
  section:not(:first-of-type) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--section-gap-h);
  }
  section h2 {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--header-height) + 1rem);
    align-self: start;
    margin: 0;
  }
}
@container content (inline-size >= 1024px) {
  section:not(:first-of-type) {
    grid-template-columns: 1fr 1fr;
  }
}
.bio-me {
  --bio-me-gap: 0.75em;
  color: var(--intro-color);
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xxl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  margin: 0;
  padding-block-start: var(--section-gap-h);
  letter-spacing: 0;
  line-height: 1;
}
.bio-me > span {
  display: inline-block;
}
.bio-me > span:nth-of-type(1) {
  font-weight: 120;
  padding-block-end: var(--bio-me-gap);
  color: var(--primary--10);
}
.bio-me > span:nth-of-type(2) {
  font-weight: 90;
  color: var(--primary--20);
}
.bio-me > span:nth-of-type(3) {
  font-weight: 90;
  color: var(--primary--20);
  padding-block-end: var(--bio-me-gap);
}
.bio-me > span:nth-of-type(4) {
  font-weight: 60;
  color: var(--primary--40);
}
.bio-me > span:nth-of-type(5) {
  font-weight: 60;
  color: var(--primary--40);
  padding-block-end: var(--bio-me-gap);
}
.bio-me > span:nth-of-type(6) {
  font-weight: 30;
  color: var(--primary--50);
}
.bio-me > span:nth-of-type(7) {
  font-weight: 30;
  color: var(--primary--50);
}
.bio-me span {
  line-height: 0;
  overflow: visible;
}
.bio-me .s-text {
  color: var(--secondary);
}
.bio-me .p-text {
  color: var(--primary);
}
.bio-me .u-text {
  text-decoration: underline;
}
header {
  scroll-snap-align: start;
}
:is(section, header, footer) h2 {
  margin-block-start: 0;
  margin-block-end: var(--section-gap-h);
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-base);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: 60;
  scroll-snap-align: start;
  border-block-start: var(--border-width) solid var(--section-divider-color);
  padding-block-start: var(--section-gap-h);
  font-size: clamp(1rem, 6cqi, 6rem);
}
:is(section, header, footer) h2 span {
  line-height: 1;
}
:is(section, header, footer) > h3 {
  margin-block: 0;
  line-height: var(--line-height-text);
}
projects-container {
  display: block;
  container: projects / inline-size;
}
projects {
  display: grid;
  gap: clamp(2rem, 5vmax, var(--section-gap));
  padding-block-start: var(--section-gap-h);
  border-block-start: var(--border-width) solid var(--section-divider-color);
}
@container (inline-size > 90ch) {
  projects {
    grid-template-columns: repeat(2, minmax(0, 40ch));
  }
}
project {
  --project-gap: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 50ch);
  scroll-snap-align: start;
  gap: var(--project-gap);
}
project p {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
project p a {
  --link-color: currentColor;
  --link-decoration-color: var(--text-disabled-color);
}
project:last-of-type h3 {
  color: var(--primary);
}
project:last-of-type p a {
  --link-decoration-color: var(--primary);
}
:is(project-content, project-shadow) {
  display: block;
  position: relative;
  inset: 0;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
project-content {
  display: grid;
  z-index: 0;
  gap: var(--project-gap);
}
project-content h3 {
  margin-block: 0;
  margin-inline-start: -0.05em;
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  line-height: 1;
  font-feature-settings: none;
}
project-content p {
  margin: 0;
  font-weight: 400;
  line-height: var(--line-height-text);
  max-inline-size: 35ch;
}
project-content p a {
  display: inline-block;
  line-height: var(--line-height-dense);
}
#coop {
  --coop-gap: clamp(2rem, 5vmax, var(--section-gap));
  padding-block-start: var(--section-gap-h);
  border-block-start: var(--border-width) solid var(--section-divider-color);
  scroll-snap-align: start;
  grid-column-end: -1;
}
#coop h3 {
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: var(--coop-gap);
  line-height: var(--line-height-medium);
  max-inline-size: 25ch;
}
coop {
  display: grid;
  row-gap: 3rem;
  gap: var(--coop-gap);
  line-height: var(--line-height-text);
}
coop > * {
  display: block;
}
@container (inline-size > 120ch) {
  coop {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
coop-item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
coop-title {
  inline-size: min-content;
  padding-inline-end: 0.7ch;
  line-height: 1;
  white-space: nowrap;
}
coop-text {
  max-inline-size: 40ch;
  color: var(--text-secondary-color);
  font-size: var(--font-size-s);
  font-weight: var(--text-weight);
}
blog-articles {
  --blog-gap: 1em 1ch;
  display: grid;
  gap: var(--blog-gap);
  padding-block-start: var(--section-gap-h);
  border-block-start: var(--border-width) solid var(--section-divider-color);
  font-size: var(--font-size-xl);
  font-weight: var(--text-weight);
}
@media only screen and (min-width: 1400px) {
  blog-articles {
    grid-template-columns: repeat(3, auto);
  }
}
blog-articles h3 {
  margin: 0;
}
blog-articles h3 a {
  display: inline-block;
  font-family: var(--font-stack-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  font-feature-settings: var(--heading-features);
  --heading-weight: var(--articles-list-heading-weight);
  max-inline-size: 17ch;
  line-height: 1em;
  --link-color: var(--primary--40);
}
@media (pointer: fine) {
  blog-articles a {
    text-decoration-line: none;
  }
}
blog-articles > a {
  grid-column: 1/-1;
  inline-size: fit-content;
  --link-color: var(--primary);
  --link-bg: var(--primary-a);
  font-size: var(--font-size-l);
  font-weight: var(--text-weight);
}
blog-articles article:nth-of-type(2) h3 a {
  --link-color: var(--primary--30);
}
blog-articles article:nth-of-type(3) h3 a {
  --link-color: var(--primary--20);
}
blog-articles .no-articles {
  --heading-weight: var(--blog-heading-weight);
  margin: 0;
}
blog-articles .no-articles,
blog-articles .no-articles + p {
  color: var(--text-disabled-color);
}
blog-articles .no-articles + p {
  font-size: var(--font-size-l);
  font-weight: var(--text-weight);
}
bio-container {
  display: block;
  padding-block-start: var(--section-gap-h);
  border-block-start: var(--border-width) solid var(--section-divider-color);
  container: bio / inline-size;
}
bio-item {
  --bio-gap-x: 1rem;
  --bio-gap-y: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: [ys] min-content [ye ts] minmax(0, 40ch) [te];
  gap: var(--bio-gap-x) var(--bio-gap-y);
  align-items: baseline;
  justify-content: center;
  line-height: var(--line-height-text);
  font-size: var(--font-size-base);
  font-weight: var(--text-weight);
}
bio-item > * {
  display: block;
}
bio-item + bio-item {
  margin-block-start: var(--bio-gap-x);
}
bio-item h2 {
  grid-column: ts / te;
  text-align: left;
}
@container bio (inline-size > 40ch) {
  bio-item {
    --bio-gap-x: 2rem;
    --bio-gap-y: 2rem;
    grid-template-columns: [ys] fit-content [ye ts] 1fr [te];
    justify-content: center;
  }
}
bio-year {
  grid-column: ys / ye;
  white-space: nowrap;
  color: var(--primary);
  padding-inline-end: var(--bio-gap-y);
  justify-self: end;
  align-self: stretch;
  border-inline-end: var(--border-width) solid var(--primary);
}
bio-year > span {
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  gap: 0.2em;
  text-align: center;
}
bio-year > span {
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--header-height) + 1rem);
}
@container bio (inline-size > 40ch) {
  bio-year {
    margin-inline-end: calc(var(--bio-gap-y) * -0.5);
  }
  bio-year > span {
    flex-direction: row;
    text-align: initial;
    line-height: revert;
  }
}
bio-text {
  grid-column: ts / te;
  max-inline-size: 40ch;
}
bio-text p {
  margin: 0;
  scroll-snap-align: start;
}
bio-text p + p {
  margin-block-start: var(--bio-gap-x);
}
@container bio (inline-size > 40ch) {
  bio-text {
    padding-inline-start: calc(var(--bio-gap-y) * 0.5);
  }
}
contact {
  grid-column: ts / te;
  max-inline-size: 40ch;
  --alpha: 0.1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-start: var(--bio-gap-y);
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}
contact > * {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 720px) {
  contact {
    --offset-x: -1.5rem;
    --offset-y: 1.5rem;
  }
}
contact > :not(photo) {
  inline-size: fit-content;
  background-color: var(--site-bg);
}
contact name {
  display: block;
  font-weight: 700;
}
contact a {
  width: fit-content;
  --link-color: var(--text-primary-color);
  --link-decoration-color: var(--text-disabled-color);
}
contact address {
  font-style: normal;
  line-height: var(--line-height-text);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}
contact address > :nth-child(1) {
  margin-block-start: 1rem;
}
contact address > :nth-child(2) {
  margin-block-end: 0.5rem;
}
photo {
  display: block;
  position: relative;
  margin-block-end: 1rem;
  inline-size: clamp(200px, 50vw, 300px);
  aspect-ratio: 1;
  border-radius: var(--radius);
  --blend-mode: hard-light;
}
photo img {
  mix-blend-mode: var(--blend-mode);
  position: relative;
  z-index: 0;
  inline-size: 100%;
  border-radius: inherit;
}
photo shadow {
  --alpha: 0.5;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  background-color: var(--primary);
}
photo shadow[elevation="bottom"] {
  --alpha: 0.1;
  z-index: -2;
}
img {
  display: block;
  border-radius: inherit;
}
divider {
  --_divider-color-night: var(--orange--70);
  --_divider-color-day: var(--orange--40);
  --_divider-color: currentColor;
  display: none;
  align-items: center;
  block-size: 32px;
  line-height: 0;
  inline-size: 100%;
}
divider::before,
divider::after {
  grid-column: 1/-1;
  grid-row-start: 1;
}
divider::after {
  content: "{  }";
  block-size: inherit;
  margin-inline: auto;
  padding-inline: 1ch;
  display: flex;
  place-items: center;
  background-color: var(--site-bg);
}
divider::before {
  content: "";
  height: inherit;
  background-image: radial-gradient(var(--_divider-color) 1px, transparent 1px);
  background-size: calc(12 * 1px) calc(12 * 1px);
}
footer {
  background-color: var(--footer-bg);
}

/*# sourceMappingURL=homepage.css.map */
