demo#demo-1
    ex
        div
            span Fox
            divider
        div
            span Fox
            divider
        div
            span Fox
            divider

    ch
        div
            span 007
            divider
        div
            span 007
            divider
        div
            span 007
            divider