:root {
    /* Typography */
    --font-stack: "iAWriterQuattro", system-ui, sans-serif;
    --font-stack: "Inter", system-ui, sans-serif;
    --font-stack: "IBM Plex Sans", system-ui, sans-serif;
    --font-stack-headings: 'iAWriterQuattro', system-ui, sans-serif;
    --font-stack-headings: 'Inter', system-ui, sans-serif;
    --font-stack-headings: 'IBM Plex Sans', system-ui, sans-serif;
    --font-stack-article: 'iAWriterQuattro', system-ui, sans-serif;
    --font-stack-article: 'Inter', system-ui, sans-serif;
    --font-stack-article: 'IBM Plex Sans', system-ui, sans-serif;
    // --font-stack-headings: 'Inter', system-ui, sans-serif;
   // --font-stack-article: 'Bitter', system-ui, sans-serif;
    --font-stack-mono: 'IBM Plex Mono', monospace;

    /* Sharpiness */
    --radius: 4px;
    --radius-2x: 8px;
    --radius-3x: 20px;

    /* Spacing */
    --edge-s: 1rem;
    --edge-l: 4rem;
    --edge: var(--edge-s);

    --tag-padding: 0 0.2ch;
    --tag-margin: 0 -0.2ch;

    --header-height: 3rem;
    
    /* Border */
    --border-width: 2px;
    --border-style: dashed;
    
    @media only screen and (min-width: 900px) {
        --edge: var(--edge-l);
        --header-height: 4rem;
    }
}